.App {
    text-align: center;
}

.highlight-transition {
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

@keyframes backgroundColorPalette {
    0% {
      background: transparent;
    }
    50% {
      background: #ffff00;
    }
    100% {
      background: transparent;
    }
  }

.highlight-background {
    animation-name: backgroundColorPalette;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}
